<div class="container">
  <div class="row">
    <div class="col-12 col-md-8 col-lg-8 mt-5 mx-auto">
      <div class="main-box mt-5 pb-5">
        <h5 class="text-center py-5">本日の運勢</h5>
        <h1 class="text-center result-text"><%= @result %></h1>
        <h4 class="text-center mt-5">ラッキーアイテム：<%= @item %></h4>
        <h4 class="text-center mt-3 pb-3">ラッキーカラー：<%= @color %>色</h4>
      </div>
      <div class="text-right mt-3">
        <%= link_to "https://twitter.com/share?url=#{ request.url }&text=本日の運勢は#{ @result }です！",target: '_blank' do %>
          結果をツイートしてみましょう! <i class="fab fa-twitter-square fa-3x"></i>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row my-5">
    <div class="col-12 col-md-4 col-lg-4 ninja-img">
      <%= link_to aphorism_path do %>
        <%= image_tag"ninja.png" %>
      <% end %>
    </div>
    <div class="col-12 col-md-4 col-lg-4 ninja-img">
      <%= link_to animal_path do %>
        <%= image_tag"inu_ninja.png" %>
      <% end %>
    </div>
    <div class="col-12 col-md-4 col-lg-4 ninja-img">
      <%= link_to animal_path do %>
        <%= image_tag"ninja_bad_dog.png" %>
      <% end %>
    </div>
  </div>
  <p class="text-center">（<i class="fa-brands fa-padlet"></i> 忍者たちをクリックしてみてね <i class="fa-brands fa-padlet"></i>）</p>
</div>